<section class="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-md-3">
        <div class="subs_image">
          <img src="../../../assets/images/icons/send.svg" alt="send" />
        </div>
        <!--End subs_image-->
      </div>
      <div class="col-sm-10 col-md-9">
        <div class="subs_content">
          <h3>{{ "receive_our_newsletter" | translate }}</h3>
          <p>{{ "Receive_promotions" | translate }}.</p>
          <form class="subs_form">
            <input
              type="email"
              placeholder="{{ 'enter' | translate }} {{
                'email_address' | translate
              }}"
            />
            <button type="submit" class="cust_btn">
              {{ "Subscribe" | translate }}
            </button>
          </form>
          <!--End subs_form-->
        </div>
        <!--End subs_content-->
      </div>
    </div>
    <!--End row-->
  </div>
  <!--End container-->
</section>
<!--End subscribe-->
