<div class="saved_address">
  <div
    class="d-flex justify-content-between align-items-center mb-3 head-section"
  >
    <p class="cust_h2">{{ "Saved_Addresses" | translate }}</p>
    <a class="main-color">{{ "Add_a_new_address" | translate }}</a>
  </div>
  <div class="saved_address_content">
    <div class="address-card mb-3 show_card">
      <div class="d-flex">
        <div>
          <h4 class="font-bold">Kuwait City</h4>
          <p>
            {{ "POBox" | translate }}: 24180 Safat, 13102 - P O Box: 24180
            Safat, 13102
          </p>
          <p>
            {{ "Phone_number" | translate }}:
            <span class="font-bold">+965 22334133</span>
          </p>
          <p>
            {{ "State_Province_Area" | translate }}:<span class="font-bold">
              Kuwait City</span
            >
          </p>
        </div>
      </div>
      <!-- /d-flex  -->
      <div class="address-card__control">
        <div class="d-flex">
          <img src="../../../../assets/images/icons/edit.png" />
          <img src="../../../../assets/images/icons/delete.png" />
        </div>
      </div>
      <!-- /control -->
    </div>
    <!-- /address-card -->
    <div class="address-card mb-3 show_card">
      <div class="d-flex">
        <div>
          <h4 class="font-bold">Kuwait City</h4>
          <p>
            {{ "POBox" | translate }}: 24180 Safat, 13102 - P O Box: 24180
            Safat, 13102
          </p>
          <p>
            {{ "Phone_number" | translate }}:
            <span class="font-bold">+965 22334133</span>
          </p>
          <p>
            {{ "State_Province_Area" | translate }}:<span class="font-bold">
              Kuwait City</span
            >
          </p>
        </div>
      </div>
      <!-- /d-flex  -->
      <div class="address-card__control">
        <div class="d-flex">
          <img src="../../../../assets/images/icons/edit.png" />
          <img src="../../../../assets/images/icons/delete.png" />
        </div>
      </div>
      <!-- /control -->
    </div>
    <!-- /address-card -->
    <div class="address-card mb-3 show_card">
      <div class="d-flex">
        <div>
          <h4 class="font-bold">Kuwait City</h4>
          <p>
            {{ "POBox" | translate }}: 24180 Safat, 13102 - P O Box: 24180
            Safat, 13102
          </p>
          <p>
            {{ "Phone_number" | translate }}:
            <span class="font-bold">+965 22334133</span>
          </p>
          <p>
            {{ "State_Province_Area" | translate }}:<span class="font-bold">
              Kuwait City</span
            >
          </p>
        </div>
      </div>
      <!-- /d-flex  -->
      <div class="address-card__control">
        <div class="d-flex">
          <img src="../../../../assets/images/icons/edit.png" />
          <img src="../../../../assets/images/icons/delete.png" />
        </div>
      </div>
      <!-- /control -->
    </div>
    <!-- /address-card -->
  </div>
</div>
