<section class="pro_tabs BusinessCards">
  <div class="container">
    <div class="tab_control">
      <ul>
        <li [ngClass]="{ active: tabDec }" (click)="toggleTab()">
          {{ "Description" | translate }}
        </li>
        <li [ngClass]="{ active: tabReview }" (click)="toggleTab()">
          {{ "Reviews" | translate }} <span class="review_num">(2)</span>
        </li>
      </ul>
    </div>
    <!--End tab_control-->
    <div class="tab_content">
      <div class="tab_desc" *ngIf="tabDec">
        <p>
          Our Hardcover BusinessCards mixes premium materials with practical
          design. Like the smooth, Swedish paper and the “Swiss binding” (which
          means every page of your MOO BusinessCards stays flat, and you’re not
          wrestling with flappy pages).
        </p>
        <ul>
          <li>Cloth cove</li>
          <li>Lay-flat Swiss binding</li>
          <li>Top sheet</li>
          <li>100gsm Munken Kristall paper (lined or dotted)</li>
          <li>G . F Smith Colorplan paper (blank)</li>
          <li>Wayfinding ribbon</li>
        </ul>
      </div>
      <!--End tab_desc-->
      <div class="tab_review" *ngIf="tabReview">
        <div class="review_content">
          <div class="row">
            <div class="col-lg-7">
              <div class="media">
                <div class="review_rate">
                  <ul>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                  </ul>
                </div>
                <img
                  class="mr-2 mr-sm-4"
                  src="../../../assets/images/customer1.png"
                  alt="review1"
                />
                <div class="media-body">
                  <h5>Jonathan Ross</h5>
                  <span class="review_date">November 9, 2020</span>
                  <p>
                    If you need your cards today, Staples is a good option, with
                    excellent online design tools and printing quality.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End review_content-->
        <div class="review_content">
          <div class="row">
            <div class="col-lg-7">
              <div class="media">
                <div class="review_rate">
                  <ul>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                  </ul>
                </div>
                <img
                  class="mr-2 mr-sm-4"
                  src="../../../assets/images/customer2.png"
                  alt="review2"
                />
                <div class="media-body">
                  <h5>Jonathan Ross</h5>
                  <span class="review_date">November 9, 2020</span>
                  <p>
                    If you need your cards today, Staples is a good option, with
                    excellent online design tools and printing quality.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End review_content-->
        <div class="add_review_form">
          <h4>{{ "Add_a_review" | translate }}</h4>
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <form>
                <div class="new_rate">
                  <span>{{ "Your_rating" | translate }}</span>
                  <ul>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                  </ul>
                </div>
                <div class="row clearfix">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="jobTitle">{{
                        "Job_Title" | translate
                      }}</label>
                      <input
                        type="email"
                        name="email"
                        class="form-control"
                        placeholder="{{ 'enter' | translate }} {{
                          'Job_Title' | translate
                        }}"
                        id="jobTitle"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="email">{{
                        "email_address" | translate
                      }}</label>
                      <input
                        type="email"
                        name="email"
                        class="form-control"
                        placeholder="{{ 'enter' | translate }} {{
                          'email_address' | translate
                        }}"
                      />
                    </div>
                    <!-- /form-group -->
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label for="Review">{{ "Review" | translate }}</label>
                      <textarea
                        placeholder="{{ 'enter' | translate }} {{
                          'Review' | translate
                        }}"
                        rows="5"
                        id="Review"
                        class="form-control"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <button type="submit" class="cust_btn float-right">
                  {{ "Submit" | translate }}
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--End ta_review-->
    </div>
  </div>
</section>
