<div class="breadcrumb_product breadcrumb_general" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/home']">{{ "home" | translate }}</a>
      </li>
      <li class="breadcrumb-item">
        <a [routerLink]="['/products']">{{ "Products" | translate }}</a>
      </li>
      <li class="breadcrumb-item current_page">
        <a>MOO Hardcover Notebook</a>
      </li>
    </ol>
  </div>
</div>
<div class="sucess_mesg">
  <div class="container">
    <div class="mes_content">
      <p class="w-100">
        (MOO Hardcover Notebook) {{ "has_successfully" | translate }}.
      </p>
      <span class="close_mes"><i class="fas fa-times"></i></span>
    </div>
  </div>
</div>

<section class="prduct_detail_parent notebook">
  <div class="container">
    <div class="detail_sliders notebook_slider">
      <div class="row">
        <div class="order-2 order-md-1 col-md-4 col-lg-2">
          <div class="detail_small_slider">
            <swiper [config]="config2">
              <div class="item" *ngFor="let item of sliderImage">
                <div class="small_slider_item">
                  <img [src]="item" alt="item1" (click)="getImage(item)" />
                </div>
              </div>
            </swiper>
          </div>
        </div>
        <div class="order-1 order-md-2 col-md-8 col-lg-5">
          <div class="detail_large_slider h-100">
            <div class="large_slider_item h-100">
              <img [src]="selectedImage" alt="item1" />
            </div>
          </div>
        </div>
        <div class="order-3 col-lg-5">
          <div class="detail_content BusinessCards_content">
            <h2 class="cust_h2">
              Business Card<br class="d-none d-lg-block" />
              Templates & Designs
            </h2>
            <div class="stars">
              <ul>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
              </ul>
              <span>(2)</span>
            </div>
            <p class="detail_desc">
              Our Hardcover BusinessCards mixes premium materials with practical
              design. Like the smooth, Swedish paper and the “Swiss binding”
              (which means every page of your MOO BusinessCards stays flat, and
              you’re not wrestling with flappy pages).
            </p>

            <div class="to_cart">
              <a
                [routerLink]="['/business-custom']"
                routerLinkActive="router-link-active"
                class="add_btn cust_btn"
                >{{ "Customize_This_Product" | translate }}</a
              >
              <span class="like_btn"><i class="far fa-heart"></i></span>
            </div>
            <div class="share_media">
              <span class="detail_title">{{
                "Share_Product" | translate
              }}</span>
              <ul>
                <li style="background-color: #3b5998">
                  <a href="https://www.facebook.com/" target="_blank"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                </li>
                <li style="background-color: #00aced">
                  <a href="https://twitter.com/?lang=en" target="_blank"
                    ><i class="fab fa-twitter"></i
                  ></a>
                </li>
                <li style="background-color: #007bb6">
                  <a href="https://www.linkedin.com/" target="_blank"
                    ><i class="fab fa-linkedin-in"></i
                  ></a>
                </li>
                <li
                  style="
                    background: linear-gradient(
                      201deg,
                      #c13584,
                      #fd1d1d,
                      #fd1d1d,
                      #f77737,
                      #fcaf45,
                      #ffdc80
                    );
                  "
                >
                  <a href="https://www.instagram.com/" target="_blank"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End prduct_detail_parent-->
<app-tabsgroup></app-tabsgroup>
<!--End pro_tabs-->
<section class="Similar_pro notebook pb-5">
  <div class="container">
    <h2 class="cust_h2">{{ "Similar_Products" | translate }}</h2>
    <div class="Similar_pro_content text-center">
      <app-product-slider></app-product-slider>
      <a [routerLink]="['/products']" class="View_all cust_btn mt-2">{{
        "View_All" | translate
      }}</a>
    </div>
  </div>
</section>
<!--End Similar_pro-->
