<div class="breadcrumb_product breadcrumb_general" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/home']">{{ "home" | translate }}</a>
      </li>
      <li class="breadcrumb-item current_page">
        <a [routerLink]="['/products']">{{ "Products" | translate }}</a>
      </li>
    </ol>
  </div>
</div>
<section class="all_products">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="product_filter">
          <h2 class="cust_h2">{{ "Filter" | translate }}</h2>
          <form class="search_filter">
            <input
              type="search"
              placeholder="{{ 'Search_Here' | translate }}"
            />
            <button type="submit"><i class="fas fa-search"></i></button>
          </form>
          <div class="Categories">
            <h5>{{ "Categories" | translate }}</h5>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="Flyers"
                name="category1"
              />
              <label class="custom-control-label" for="Flyers">Flyers</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="Notebooks"
                name="category2"
                checked
              />
              <label class="custom-control-label" for="Notebooks"
                >Notebooks</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="Business_Cards"
                name="category3"
              />
              <label class="custom-control-label" for="Business_Cards"
                >Business Cards</label
              >
            </div>

            <div>
              <p-accordion>
                <p-accordionTab class="my-2" header="Category">
                  <div class="mt-3 ml-3">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="Business_Cards1"
                        name="category3"
                      />
                      <label class="custom-control-label" for="Business_Cards1"
                        >Business Cards</label
                      >
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="Business_Cards2"
                        name="category3"
                      />
                      <label class="custom-control-label" for="Business_Cards2"
                        >Business Cards</label
                      >
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="Business_Cards3"
                        name="category3"
                      />
                      <label class="custom-control-label" for="Business_Cards3"
                        >Business Cards</label
                      >
                    </div>
                  </div>
                </p-accordionTab>
                <p-accordionTab class="my-2" header="Category 2">
                  <div class="mt-3 ml-3">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="Business_Cards11"
                        name="category3"
                      />
                      <label class="custom-control-label" for="Business_Cards11"
                        >Business Cards</label
                      >
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="Business_Cards22"
                        name="category3"
                      />
                      <label class="custom-control-label" for="Business_Cards22"
                        >Business Cards</label
                      >
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="Business_Cards33"
                        name="category3"
                      />
                      <label class="custom-control-label" for="Business_Cards33"
                        >Business Cards</label
                      >
                    </div>
                  </div>
                </p-accordionTab>
              </p-accordion>
            </div>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="Envelopes"
                name="category4"
              />
              <label class="custom-control-label" for="Envelopes"
                >Envelopes</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="Packaging"
                name="category5"
              />
              <label class="custom-control-label" for="Packaging"
                >Packaging</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="Postcards"
                name="category6"
              />
              <label class="custom-control-label" for="Postcards"
                >Postcards</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="Posters"
                name="category7"
              />
              <label class="custom-control-label" for="Posters">Posters</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="Folders"
                name="category8"
              />
              <label class="custom-control-label" for="Folders">Folders</label>
            </div>
            <a>{{ "Show_More" | translate }}</a>
          </div>
          <!--End Categories-->
          <div class="price_rang">
            <h5>{{ "Price_range" | translate }}</h5>
            <ngx-slider
              [(value)]="value"
              [(highValue)]="highValue"
              [options]="options"
            ></ngx-slider>
            <!--add slider rang here-->
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="product_items">
          <div
            class="d-sm-flex justify-content-between align-items-center sort_item"
          >
            <h2 class="cust_h2">{{ "Products" | translate }}</h2>
            <div class="sort_content">
              <span>{{ "Sort_By" | translate }}</span>
              <select>
                <option>{{ "Most_Popular" | translate }}</option>
                <option>{{ "new" | translate }}</option>
                <option>{{ "old" | translate }}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mb-4" *ngFor="let item of productObject">
              <div class="card Products_item" [ngClass]="{ sale: item.sale }">
                <img
                  class="card-img-top swiper-lazy"
                  [src]="item.img"
                  [alt]="item.name"
                />
                <div class="card-body">
                  <h5 class="card-title cust_h3">{{ item.name }}</h5>
                  <p class="card-text">
                    {{ item.dec }}
                  </p>
                  <a [routerLink]="['/business-card/']" class="card_link">{{
                    "View_Details" | translate
                  }}</a>
                </div>
              </div>
              <!--End card-->
              <!--End card-->
            </div>
          </div>
          <div class="pagination">
            <span class="left_pagn"><i class="fas fa-chevron-left"></i></span>
            <ul>
              <li class="active">1</li>
              <li class="d-none d-sm-block">2</li>
              <li class="d-none d-sm-block">3</li>
              <li>...</li>
              <li>4</li>
            </ul>
            <span class="right_pagn"><i class="fas fa-chevron-right"></i></span>
          </div>
          <!--End pagination-->
        </div>
      </div>
    </div>
  </div>
</section>
