<h3 class="cust_h2 text-left mb-4">{{ "Edit_Profile" | translate }}</h3>
<div class="edit_profile_content">
  <div class="mb-3">
    <div class="form-group">
      <label for="name"> {{ "Name" | translate }}</label>
      <input
        type="text"
        name="name"
        class="form-control"
        placeholder="Badr Ragab"
      />
    </div>
    <div class="form-group">
      <label for="email">{{ "email_address" | translate }}</label>
      <input
        type="email"
        name="email"
        class="form-control"
        placeholder="example@mail.Com"
      />
    </div>
    <div class="form-group">
      <label for="phone"> {{ "Mobile_Number" | translate }}</label>
      <div class="prefix d-flex align-items-center">
        <input
          type="number"
          name="phone"
          class="form-control"
          placeholder="𝟶𝟶𝟿𝟼𝟻-𝟻𝟷𝟷𝟶𝟶𝟹𝟼𝟶"
        />
        <div>
          <select name="code" class="custom-select-sm">
            <option value="+965" selected>+965</option>
            <option value="fiat">+20</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="cust_des_action d-flex align-items-center justify-content-end">
    <button class="cancle_btn font-Medium">
      {{ "Cancel" | translate }}
    </button>
    <button class="add_btn cust_btn">{{ "Save_Changes" | translate }}</button>
  </div>
</div>
